* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

body {
    height: 100vh;
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-color: #cfb9d37c;
    background-repeat: no-repeat;
    background-size: contain;
}

.faq {
    width: 40vw;
    margin: auto;
    background-color: aliceblue;
    margin-top: 100px;
    padding: 40px;
    border-radius: 20px;
}

.faq .title {
    margin-bottom: 24px;
}

.icon-star {
    width: 28px;
}

.faq .qa .question {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-top: 24px;
    padding-top: 24px;
    border-top: #9d9c9c43 solid 1px;
}

.faq .question h3 {
    width: 92%;
}


.faq div:first-of-type .question {
    border: none;
}

.faq .question h3:hover {
    cursor: pointer;
    color: rgba(123, 7, 118, 0.793);
}

.faq .icon {
    background-image: url("./assets/images/icon-plus.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
}

.faq .answer {
    display: none;
    width: 100%;
    color: #42031c6d;
    font-size: 14px;
}

/* #show {
    display: block;
} */