:root {
    --color-white-text: rgba(221, 218, 218, 0.901);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.navbar {
    display: flex;
    /* background: 
    linear-gradient(to right,rgba(176, 71, 18, 0.812), rgba(202, 16, 16, 0.9)),
    url("./images/bg-pattern-intro-desktop.svg");     
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 20% 39.4%; */
    position: absolute;
    width: 100vw;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    top: 0;
}

.logo p {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-white-text);
}

.navbar-items {
    display: flex;
}

.navbar-items .item p {
    color: var(--color-white-text);
    font-weight: bold;
}


.navbar-items .item, .logo {
    display: flex;
    width: 120px;
    height: 60px;
    margin-right: 8px;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.navbar-items .item p::after{
    content: "";
    display: inline-block;
    width: 8px;       /* kích thước icon */
    height: 8px;
    margin-left: 8px;  /* khoảng cách giữa chữ và icon */

    background-image: url("./images/icon-arrow-light.svg");
    background-size: contain;   /* hoặc cover */
    background-repeat: no-repeat;
}

.navbar-items .item-components {
    display: block;
    position: absolute;
    top: 48px;
    list-style: none;
    background-color: aliceblue;
    text-align: start;
    width: 140px;
    padding-top: 12px;
    padding-bottom: 16px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(64, 63, 63, 0.575);
}

.navbar-items .item:hover p::after {
    transform: rotate(180deg);
}

.navbar-items .item:hover {
    text-decoration: underline;
    color: var(--color-white-text);
}

.navbar-items .item-components li {
    padding-top: 8px;
    padding-left: 16px;
}

.navbar-items .item-components li:hover {
    font-weight: bold;
} 

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.account .login p {
    color: var(--color-white-text);
    font-weight: bold;
}

.account .login {
    cursor: pointer;
}

.account .login:hover {
    cursor: pointer;
}

.account .sign-up p {
    color: #c41a1ade;
    font-weight: bold;
}

.account .sign-up {
    display: flex;
    background-color: aliceblue;
    /* border-bottom-left-radius: 50%;
    border-top-right-radius: 50%; */
    border-radius: 999px;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.account .sign-up:hover {
    cursor: pointer;
}

.header {
    height: 560px;
    background: 
    linear-gradient(to right,rgba(176, 71, 18, 0.812), rgba(202, 16, 16, 0.9)),
    url("./images/bg-pattern-intro-desktop.svg");     
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 20% 52%;
    width: 100vw;
    text-align: center;
    justify-content: center;
    border-bottom-left-radius: 8%;
    position: relative;
}

.header .title {
    padding-top: 200px;
    margin-bottom: 40px;
}

.header .title h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--color-white-text);
}

.header .title p {
    color: var(--color-white-text);
    margin-top: 16px;
}

.header .premium {
    display: flex;
    margin: auto;
    width: 320px;
    justify-content: space-around;
}

.header .premium .free {
    border-radius: 999px;
    background-color:   aliceblue;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .premium .free:hover {
    cursor: pointer;
}

.header .premium .free a {
    color: #c41a1ade;
    font-weight: bold;
}

.header .premium .buy {
    border-radius: 999px;
    border: solid 2px var(--color-white-text);
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .premium .buy:hover {
    cursor: pointer;
}

.header .premium .buy a {
    color: var(--color-white-text);
    font-weight: bold;
}