:root {
    --color-white-text: rgba(221, 218, 218, 0.901);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif ;
    color: #333;
}

.display {
    display: flex;
}

.navbar {
    display: flex;
    /* background: 
    linear-gradient(to right,rgba(176, 71, 18, 0.812), rgba(202, 16, 16, 0.9)),
    url("./images/bg-pattern-intro-desktop.svg");     
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 20% 39.4%; */
    position: absolute;
    width: 100vw;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    height: 100px;
    align-items: center;
    top: 0;
}

.navbar .menu {
    /* background-color: #333; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 40px;
    height: 100px;
    display: none;
    background-image: url('./images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navbar .menu .item {
    display: none;
}


.logo:hover {
    cursor: default;
}

.logo p {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-white-text);
}

.navbar-items {
    display: flex;
}

.navbar-items .item p {
    color: var(--color-white-text);
    font-weight: bold;
}


.navbar-items .item, .logo {
    display: flex;
    width: 120px;
    height: 60px;
    margin-right: 8px;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.navbar-items .item p::after{
    content: "";
    display: inline-block;
    width: 8px;       /* kích thước icon */
    height: 8px;
    margin-left: 8px;  /* khoảng cách giữa chữ và icon */

    background-image: url("./images/icon-arrow-light.svg");
    background-size: contain;   /* hoặc cover */
    background-repeat: no-repeat;
}

.navbar-items .item-components {
    display: none;
    position: absolute;
    top: 48px;
    list-style: none;
    background-color: aliceblue;
    text-align: start;
    width: 140px;
    padding-top: 12px;
    padding-bottom: 16px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(64, 63, 63, 0.575);
}

.navbar-items .item:hover p::after {
    transform: rotate(180deg);
}

.navbar-items .item:hover {
    text-decoration: underline;
    color: var(--color-white-text);
}

.item-components li {
    padding-top: 8px;
    padding-left: 16px;
}

.item-components li:hover {
    font-weight: bold;
} 

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.account .login p {
    color: var(--color-white-text);
    font-weight: bold;
}

.account .login {
    cursor: pointer;
}

.account .login:hover {
    cursor: pointer;
}

.account .sign-up p {
    color: #c41a1ade;
    font-weight: bold;
}

.account .sign-up {
    display: flex;
    background-color: aliceblue;
    /* border-bottom-left-radius: 50%;
    border-top-right-radius: 50%; */
    border-radius: 999px;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.account .sign-up:hover {
    cursor: pointer;
    background-color: rgba(226, 91, 61, 0.551);
}

.header {
    height: 520px;
    background: 
    linear-gradient(to right,rgba(176, 71, 18, 0.812), rgba(202, 16, 16, 0.9)),
    url("./images/bg-pattern-intro-desktop.svg");     
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 20% 52%;
    width: 100vw;
    text-align: center;
    justify-content: center;
    border-bottom-left-radius: 8%;
    position: relative;
}

.header .title {
    padding-top: 200px;
    margin-bottom: 60px;
}

.header .title h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--color-white-text);
}

.header .title p {
    color: var(--color-white-text);
    margin-top: 16px;
}

.header .premium {
    display: flex;
    margin: auto;
    width: 320px;
    justify-content: space-around;
}

.header .premium .free {
    border-radius: 999px;
    background-color:   aliceblue;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .premium .free:hover {
   cursor: pointer;
    background-color: rgba(226, 91, 61, 0.551);
    color: var(--color-white-text);
}

.header .premium .free a {
    color: #c41a1ade;
    font-weight: bold;
}

.header .premium .buy {
    border-radius: 999px;
    border: solid 2px var(--color-white-text);
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .premium .buy:hover {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.836);
}

.header .premium .buy a {
    color: var(--color-white-text);
    font-weight: bold;
}

.designed {
    display: block;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-bottom: 160px;
}

.designed .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.designed .content-wrapper {
    width: 50vw;
    padding-left: 12vw;
    text-align: start;
    height:auto;
}

.designed .title {
    padding-top: 80px;
    width: 76vw;
    margin-left: 12vw;
    /* display: flex; */
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.designed .graphic {
    width: 44vw;
    min-height: 40vw;
    background-image: url('./images/illustration-editor-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .content {
    padding-top: 60px;
}

.container .content .section {
    padding-bottom: 20px;
    font-size: 24px;
}

.container .content .text {
    font-size: 14px;
    color: #434343c7;
    line-height: 1.8;
}

.state {
    width: 100vw;
    height: 360px;
    padding-left: 8vw;
    padding-right: 12vw;
    border-top-right-radius: 12%;
    border-bottom-left-radius: 12%;
    display: flex;
    justify-content: space-between;
    background-image: url('./images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: -20% 80%;
    background-color: rgba(38, 31, 64, 0.9);
    align-items: center;
}

.state .graphic {
    width: 36vw;
    height: 560px;
    background-image: url('./images/illustration-phones.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.state .content {
    width: 40vw;
    padding-top: 0px;
}

.state .content .section {
    color: var(--color-white-text);
    font-size: 32px;
}

.state .content .text {
    font-size: 14px;
    color: var(--color-white-text);
}

.tool {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 100vw;
    margin-bottom: 80px;
}

.tool .graphic {
    background-image: url('./images/illustration-laptop-desktop.svg');
    width: 40vw;
    height: 640px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 84% 50%;
}

.tool .content {
    width: 48vw;
    padding-right: 12vw;
}

.tool .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.footer {
    background-color: #333036;
    height: 360px;
    border-top-right-radius: 12%;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 8vw;
    padding-right: 24vw;
    padding-top: 80px;
}

.footer .logo p {
    color: #ffffff;
}

.footer .item p {
    color: #ffffff;
    font-size: 20px;
}

.footer .item-components {
    list-style: none;
}

.footer li {
    color: var(--color-white-text);
    margin-top: 12px;
    width: 120px;
    padding-left: 0px;
}

.footer li:hover {
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
}


@media (max-width: 800px) {
    .navbar .menu {
        display: block;
    }
    .navbar .item {
        display: none;
    }
    .navbar .account {
        display: none;
    }

    .designed .box {
        flex-direction: column-reverse;
    }
    .designed .graphic {
        width: 92vw;
        height: 80vw;
        background-position: center;
        background-image: url('./images/illustration-editor-mobile.svg');
    }
    .designed .content-wrapper {
        width: 88vw;
        padding-left: 0;
        text-align: center;
    }
}