* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.box {
    margin: 0;
    /* margin-top: 40px; */
    min-width: 360px;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color:  rgba(0,24,93,0.2);
    align-content: center;
    justify-items: center;
    /* justify-content: center; */
}

.qr-code{
    display: block;
    background-color: white;
    width: 320px;
    height: 480px;
    border-radius: 4%;
    text-align: center;
}

.qr-code img{
    width: 88%;
    height: auto;
    margin-top: 20px;
    border-radius: 4%;
}

.qr-code h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    font-family:monospace;
    font-size: 16px;
}

.qr-code p {
    margin: auto;
    width: 72%;
    font-size: 14px;
    color: rgba(36, 35, 35, 0.8);
}

