.box {
    width: 24vw;
    height: 60vh;
    display: block;
    background-color: gray;
    align-content: center;
    justify-items: center;
    /* justify-content: center; */
}


.qr-code img{
    width: 80%;
    height: auto;
    /* align-content: center; */
}

.box h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}